:root{
    --titles: #4c4d61;
    --text-color: #acabb0;
}

* {
    box-sizing: border-box;
    hyphens: none;
}

body {
    display: grid;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    max-width: 35rem;
    place-self: center;
}

section {
    margin: 0 auto;
}

.title {
    color: var(--titles);
    font-size: 2.2em;
    font-weight: 200;
    margin-bottom: 1rem;
}

.title > span {
    font-weight: 500;
    line-height: 2em;
}


.tools-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "supervisor builder calculator"
    "supervisor karma calculator";
    gap: 2rem;
}

.tools {
    display: flex;
    flex-direction: column;
    padding: 2.2rem;
    border-radius: 3%;
    box-shadow: 0.625rem 0.625rem 1.875rem 0.125rem rgba(0, 0, 0, 0.15);
    height: 16.5rem;
    max-width: 25em;
}

.tools > img {
    width: 4rem;
    align-self: end;
}

.tool-title {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--titles);
    margin-bottom: 1rem;
}

.tool-text {
    font-size: .9rem;
    margin-bottom: 2.5rem;
}

#supervisor{
    border-top: .3rem solid #49d1d1;
    grid-area: supervisor;
    align-self: center;
}

#builder {
    border-top: .3rem solid #ea5551;
    grid-area: builder;
}

#calculator {
    border-top: .3rem solid #559cee;
    grid-area: calculator;
    align-self: center;
}

#karma {
    border-top: .3rem solid #fbad4b;
    grid-area: karma;
}

@media (max-width: 480px) {
    
    header {
        place-self: center;
        margin: 2rem 0 1rem 0;
        padding: 1.8rem 1.8rem 0 1.8rem;
    }

    .title {
        font-size: 2em;
        margin-bottom: 1.6rem;
    }
    
    .sub-text {
        font-size: 1.1em;
        margin-bottom: .8rem;
    }

    section {
        display: grid;
        align-items: center;
    }
    
    .tools-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 2.5rem 0 2.5rem 0;
    }

    .tools {
        min-height: 90%;
    }

    .tool-title {
        font-size: 1.5em;
        margin-bottom: 1rem;
    }

    .tool-text {
        font-size: 1em;
        margin-bottom: 2.2rem;
    }
}

@media (min-width: 481px) and (max-width: 1260px){
    
    .tools-list {
        gap: 1.5rem;
        padding: 1rem 1rem 0 1rem;
    }

    .tools {
        padding: 1.5rem;
        width: 100%;
    }

    .tools>img {
        width: 4rem;
        place-self: end;
    }

    .tool-text {
        margin-bottom: 2rem;
        text-align: left;
    }
}