:root{
    --titles: #4c4d61;
    --text-color: #acabb0;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

.container {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    display: grid;
    width: 80%;
    margin: 0 auto;
    padding: 2.5rem;
}

.container-description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35rem;
    gap: 2rem;
}

.pre-title {
    color: var(--titles);
    font-size: 2em;
    font-weight: 200;
}

h1 {
    color: var(--titles);
    font-size: 2.2em;
    font-weight: 500;
}


.tools-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2.5rem 2.5rem;
    padding: 2.8rem;
}

.tools {
    display: flex;
    flex-direction: column;
    padding: 2.8rem;
    border-radius: 3%;
    box-shadow: 0.625rem 0.625rem 1.875rem 0.125rem rgba(0, 0, 0, 0.15);
}

.tools > img {
    width: 4rem;
    align-self: end;
}

.tool-title {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--titles);
    margin-bottom: 1rem;
}

.tool-text {
    font-size: .9em;
    margin-bottom: 2rem;
    width: 85%;
}

#supervisor{
    border-top: .3rem solid #49d1d1;
    grid-area: 2 / 1 / 4 / 4;
}

#builder {
    border-top: .3rem solid #ea5551;
    grid-area: 1 / 4 / 3 / 7;
}

#calculator {
    border-top: .3rem solid #559cee;
    grid-area: 2 / 7 / 4 / 10;
}

#karma {
    border-top: .3rem solid #fbad4b;
    grid-area: 3 / 4 / 5 / 7;
}

@media (max-width: 1440px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 1.3rem;
        margin: 0 auto;
    }
    
    .description {
        display: block;
        margin: 2rem 0 1rem 0;
    }

    h1 {
        font-size: 1.6em;
        margin-bottom: 1.6rem;
    }

    .pre-title {
        font-size: 1.6em;
        margin-bottom: .8rem;
    }

    .tools-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 2.5rem 0 2.5rem 0;
    }

    .tools {
        padding: 1.7rem;
    }

    .tool-title {
        margin-bottom: .4rem;
    }

    .tool-text {
        width: 100%;
        margin-bottom: 2.2rem;
        text-align: left;
    }
}